html,body{
    width: 100%;
}
body {
background: url(../images/002.webp) no-repeat ;
    background-repeat: no-repeat;
    background-size: 100% auto;
}


#login-box {
    width: 30%;
    height: 400px;
    margin: 0 auto; 
    margin-top: 15%;
    text-align: center;
    background: #00000090;
    padding: 20px 50px;
    border-radius: 10px;
}
/* 鼠标进入表单出现阴影 */
#login-box:hover{
    box-shadow: 0 0 5px 5px rgb(255, 44, 244);

}
#login-box h1 {
    color: #fff;
}
#login-box .form .item {
    position: relative;
    margin-top:24px;
}
#login-box .form .item i{
    position: absolute;
    top: 8%;
    left: 26%;
}



#login-box .form .item input {
    width: 180px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    background: rgb(0, 0, 0,0.3);
    color: #fff;
    

}
#login-box .form .item input:focus{
    box-shadow: 0 0 5px 5px rgb(255, 44, 244);

}

#login-box button {
    margin-top: 15px;
    width: 140px;
    height: 40px;
    font-size: 20px;
    font-weight: 700px;
    color: #fff;
    background-image: linear-gradient(to right, #25d5db , #bb43eb );
    border: 0;
    border-radius: 15px;
}

